<!DOCTYPE html>
<html>
<head>
  <title>ApparelShop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
   <link href="H:\Project_Code\Project\Apparel_Shop\app\assets\stylesheets\css\Theme\jquery-ui-1.9.2.custom.css" rel="stylesheet"/>
  <script src="H:\Project_Code\Project\Apparel_Shop\app\assets\javascripts\js\jquery-1.8.3.js"></script>
  <script src="H:\Project_Code\Project\Apparel_Shop\app\assets\javascripts\js\jquery-ui-1.9.2.custom.js"></script>


  <%= csrf_meta_tags %>
 
</head>
<body>
	<title>
		Welcome 
	</title>

<%= yield %>

</body>
</html>
